TRELLIS_DB_HOST=localhost
TRELLIS_DB_PORT=5432
TRELLIS_DB_NAME=trellis_dev
TRELLIS_DB_USER=app_user
TRELLIS_DB_PASSWORD=
TRELLIS_DB_URL=postgresql://${TRELLIS_DB_USER}:${TRELLIS_DB_PASSWORD}@${TRELLIS_DB_HOST}:${TRELLIS_DB_PORT}/${TRELLIS_DB_NAME}
TRELLIS_DB_ADMIN_URL=postgresql://app_admin:${TRELLIS_DB_ADMIN_PASSWORD}@${TRELLIS_DB_HOST}:${TRELLIS_DB_PORT}/${TRELLIS_DB_NAME}
CLERK_PUBLISHABLE_KEY=pk_test_cmVhbC1wYW50aGVyLTE4LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_8EKRlacAfaCqhhpw19jn84I5MGtvCx5XfEimrCGrwC
CLERK_WEBHOOK_SECRET=whsec_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
AWS_REGION=us-west-2
AWS_ACCOUNT_ID=572885593026
TRELLIS_S3_BUCKET=trellis-documents-dev
API_PORT=3001
API_URL=http://localhost:3001
NODE_ENV=development
